/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para o cabeçalho */
header {
    text-align: center;
    background-color: #011122;
    padding: 20px;
    border-bottom: 2px solid white;
}

header h1 {
    font-size: 50px;
    color: white;
}

/* Estilos para o corpo */
body {
    background-color: rgb(24, 24, 24);
    font-family: "San Francisco", Arial, sans-serif;
    color: white;
    font-weight: bold
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.login-container {
    width: 400px;
    height: 450px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-align: center;
    border: 1px solid white;
}

.login-container h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.login-form label,
.login-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 3px;
}

.login-form label{
    font-size: 35px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    height: 30px;
}

.login-form input[type="submit"] {
    background-color: rgb(24, 24, 24);
    color: white;
    cursor: pointer;
    font-size: 35px;
    border: 1px solid white;
    margin-top: 50px;
    height: 55px;
}
